{% extends "layout.html" %} {% block body %}
<!-- Page Header-->
<!-- style="background-image: url('assets/img/about-bg.jpg')" -->
<header
  class="masthead"
  {% set fname = 'assets/img/about-bg.jpg' %}
  style="background-image: url({{url_for('static',filename='assets/img/about-bg.jpg') }} )"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Admin</h1>
          <span class="subheading">Manage over post. </span>
          
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="container">Dashboard</h1>
      <p>Welcome you are logged in</p>
      <hr>
        <a href="/dashboard"><button class="btn btn-primary ">Dashboard</button></a>
        <a href="/logout"><button class="btn btn-primary float-right">Logout</button></a>
        <hr>
    </div>
  </div>
  </div>


  <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-preview">

                        <h1>upload a file</h1>
                        <form id="contactForm" action = "/edit/{{sno}}" method="post" >
                            <div class="form-floating">
                                <input class="form-control" id="title" name="title" type="text"   placeholder="Enter your name..." data-sb-validations="required" value="{{post.title }}" />
                                <label for="title">Title</label>
                                <div class="invalid-feedback" data-sb-feedback="title:required">A title is required.</div>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="slug" name="slug" type="text" placeholder="Enter your slug..." data-sb-validations="required" value="{{post.slug }}" />
                                <label for="slug">slug</label>
                                <div class="invalid-feedback" data-sb-feedback="slug:required">A slug is required.</div>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="subhead" name="subhead" type="text" placeholder="Enter your subhead..." data-sb-validations="required" value="{{post.subhead}}" />
                                <label for="subhead">Subhead</label>
                                <div class="invalid-feedback" data-sb-feedback="subhead:required">An subhead is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="subhead:email">subhead is not valid.</div>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="content" name="content" type="text" placeholder="Enter your content..." data-sb-validations="required"  value="{{post.content}}" />
                                <label for="content">Content</label>
                                <div class="invalid-feedback" data-sb-feedback="content:required">A content is required.</div>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" id="img_file" name="img_file" type="text" placeholder="Enter your img_file..." data-sb-validations="required" value="{{post.img_file}}" />
                                <label for="img_file">Img_file</label>
                                <div class="invalid-feedback" data-sb-feedback="img_file:required">A img_file  is required.</div>
                            </div>
                            
                            <br />
                           
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <button class="btn btn-primary text-uppercase " id="submitButton" type="submit">Send</button>
                        </form>
                        
              
              </div>
        </div>
      </div>
    </div>




 
</div>
{% endblock %}
